/* app.css */
.nav-link {
  margin-right: 16px;
  color: black;
}

.nav-link.active {
  color: blue;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
